@import "tailwindcss";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@variant dark (.dark &);

@theme {
  --color-primary: #3e78b2;
  --color-highlight: #d0e562;
}

body {
  font-family: "Roboto", sans-serif;
}
