.post-content h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}
.post-content h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}
.post-content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.post-content h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.post-content h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.post-content h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.post-content p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.post-content ul {
  list-style-type: disc;
  list-style-position: inside;
}
.post-content ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.post-content li {
  font-size: 1rem;
  line-height: 1.5rem;
}
.post-content a {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
}
.post-content a:hover {
  color: var(--color-primary);
}
.post-content blockquote {
  border-left-width: 4px;
  border-color: rgb(156 163 175);
  padding-left: 1rem;
}
.post-content blockquote p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.post-content pre {
  overflow-x: auto;
  border-radius: 0.25rem;
  padding: 1rem;
}
.post-content code {
  font-size: 1rem;
  line-height: 1.5rem;
}
.post-content table {
  width: 100%;
  border-collapse: collapse;
}
.post-content table th {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  border: 1px solid rgb(156 163 175);
  padding: 0.5rem;
}
.post-content table td {
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid rgb(156 163 175);
  padding: 0.5rem;
}
.post-content img {
  margin-left: auto;
  margin-right: auto;
}
.post-content hr {
  border-color: rgb(75 85 99);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
:root.dark .post-content hr {
  border-color: rgb(226 232 240);
}
.post-content mark {
  background-color: var(--color-highlight);
}
