---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="T1b4lt | Home">
  <div class="flex justify-center p-10">
    <div class="w-full lg:w-1/2 space-y-5 text-lg">
      <hr class="border-zinc-900 dark:border-slate-200" />
      <h1 class="text-3xl font-bold">Guillermo: Innovation, Technology and Constant Growth</h1>
      <hr class="my-6 border-zinc-900 dark:border-slate-200" />
      <p>
        Welcome to my blog, Guillermo's blog!
        I'm Guillermo, a passionate IT professional with a background in innovation and digital development.
        Let me introduce you to my story and interests.
      </p>
      <h2 class="text-3xl font-bold">About me</h2>
      <p>
        Currently working in the CDO innovation area at Telefónica, in a position that allows me to participate in the rapid prototyping of digital products.
        My team is specialized in applying emerging technologies to improve existing products and develop new ones.
        My job is to carry out the rapid prototyping of digital products, applying these emerging technologies to:
        <ul class="space-y-4 ml-4">
          <li>1. improve existing solutions,</li>
          <li>2. create new experiences for our users and</li>
          <li>3. undo the uncertainty surrounding these new technologies.</li>
        </ul>
      </p>
      <h2 class="text-3xl font-bold">My areas of interest</h2>
      <p>
        As a professional, my curiosity and passion lead me to explore diverse areas:
        <ul class="space-y-4 ml-4">
          <li><b>• Machine Learning:</b> I am fascinated by the potential of machine learning techniques to transform the way we interact with technology. From traditional classification algorithms and neural networks to new Generative AI trends, which are giving us so many opportunities. I am always looking to learn more and apply this knowledge in innovative projects.</li>
          <li><b>• Software and Application Development:</b> Programming was my gateway to the world of technology. I love building solutions from scratch, whether it's developing web, mobile, backend systems or all at once for a single solution. Creativity, problem solving and creating tangible solutions are my driving force.</li>
          <li><b>• Data Analysis:</b> Data is the new oil, and I am a passionate geologist. Exploring data sets, extracting insights and making evidence-based decisions is something I am passionate about. From SQL to visualization tools, I am always honing my analytical skills.</li>
        </ul>
      </p>
      <h2 class="text-3xl font-bold">My professional goals</h2>
      <p>
        My professional path is focused on continuous growth. I aspire to:
        <ul class="space-y-4 ml-4">
          <li><b>• Keep Learning:</b> Never stop learning. I feel, <i>and hope</i>, that this curiosity that technology and innovation arouses in me will not cease. Courses, conferences, books... any source of knowledge is welcome.</li>
          <li><b>• Contribute to the Community:</b> Share what I know and learn from others. Collaboration in the technological field is key to achieving unimaginable goals. I really believe in the power and philosophy of Open Source</li>
          <li><b>• Innovate:</b> Always look for new ways to solve problems and create disruptive solutions. Keeping up to date with what is happening in this world and fitting the pieces together in ways that have not been done before.</li>
          <li><b>• Create:</b> Build tangible solutions that have a positive impact. From mobile applications to artificial intelligence systems, I am always looking to create solutions that reach people.</li>
        </ul>
      </p>
      <h2 class="text-3xl font-bold">Visit my blog</h2>
      <p>
        In this blog, I will share my experiences, knowledge and opinions on topics related to technology, innovation and professional growth.
        I hope you enjoy reading it!
      </p>
      <p>
        See you soon!
      </p>
</Layout>
