---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="flex flex-col justify-center h-screen text-center">
	<h1 class="text-6xl font-bold">{title}</h1>
	
	<div class="pt-10">
		<a href="https://github.com/t1b4lt" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white transition bg-gradient-to-r from-teal-500 to-blue-500 rounded shadow ripple hover:shadow-lg hover:bg-teal-600 focus:outline-none">
			<i class="fa-brands fa-github pr-2"/>
			<span>T1b4lt</span>
		</a>
	</div>
</div>