---
import LanguagePicker from "./LanguagePicker.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
import NavBar from "./NavBar.astro";
---

<header>
  <div class="flex flex-row justify-between p-5">
    <LanguagePicker />
    <DarkModeToggle />
  </div>
  <NavBar />
</header>
