---
import { languages, type Lang } from "../i18n/ui";
import { getLangFromUrl, getAlternatePath } from "../i18n/utils";

interface Props {
  translations?: Record<string, string>;
}

const { translations } = Astro.props;
const currentLang = getLangFromUrl(Astro.url);
---

<ul class="flex space-x-4">
  {
    (Object.keys(languages) as Lang[]).map((lang) => (
      <li>
        <a
          href={getAlternatePath(Astro.url.pathname, lang, translations)}
          data-lang={lang}
          onclick="try { localStorage.setItem('lang', this.dataset.lang) } catch (_) {}"
          class={`px-3 py-2 rounded-md text-sm font-medium hover:text-slate-200 hover:bg-zinc-900 dark:hover:text-zinc-900 dark:hover:bg-slate-200 ${
            lang === currentLang
              ? "text-slate-200 bg-zinc-900 dark:text-zinc-900 dark:bg-slate-200"
              : ""
          }`}
        >
          {languages[lang]}
        </a>
      </li>
    ))
  }
</ul>
