---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import type { FormattedPost } from "../i18n/utils";
import { Icon } from "astro-icon/components";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  posts: FormattedPost[];
}

const { posts } = Astro.props;
---

<div class="min-h-screen">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold text-center mt-14">
      {t("blog.title")}
    </h1>
    <section class="mt-7 w-full lg:w-1/2 px-5 py-3">
      <ul>
        {
          posts.map((post) => (
            <li class="mb-5">
              <a href={post.url}>
                <div class="flex flex-col lg:flex-row lg:justify-between">
                  <div class="pb-2 lg:mr-5 w-72">
                    <Icon name="fa6-solid:angles-right" class="inline mr-2" aria-hidden="true" />
                    {post.frontmatter.title}
                  </div>
                    <div class="tags pb-2 flex flex-row min-h-fit items-center">
                    {
                      post.frontmatter.tags.map((tag) => (
                      <span class="text-xs font-thin text-zinc-900 dark:text-slate-200 bg-zinc-300 dark:bg-slate-800 px-2 py-1 rounded-xl mr-2">
                        {tag}
                      </span>
                      ))
                    }
                    </div>
                  <span class="text-gray-500 font-light min-w-fit">
                    {post.frontmatter.pubDate}
                  </span>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</div>
