---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="T1b4lt | Inicio">
  <div class="flex justify-center p-10">
    <div class="w-full lg:w-1/2 space-y-5 text-lg">
      <hr class="border-zinc-900 dark:border-slate-200" />
      <h1 class="text-3xl font-bold">Guillermo: Innovación, Tecnología y Crecimiento Constante</h1>
      <hr class="my-6 border-zinc-900 dark:border-slate-200" />
      <p>
        ¡Bienvenidos a mi blog, el blog de Guillermo!
        Soy Guillermo, un profesional (<i>apasionado</i>) de la informática con una trayectoria en el área de innovación y desarrollo digital.
        Permíteme presentarte mi historia y mis intereses.
      </p>
      <h2 class="text-3xl font-bold">Sobre mí</h2>
      <p>
        Actualmente trabajando en el área de innovación CDO en Telefónica, en una posición que me permite participar en el prototipado rápido de productos digitales.
        Mi equipo está especializado en aplicar tecnologías emergentes para mejorar los productos existentes y desarrollar otros nuevos.
        Mi trabajo consiste en llevar a cabo el prototipado rápido de productos digitales, aplicando estas tecnologías emergentes para:
        <ul class="space-y-4 ml-4">
          <li>1. mejorar las soluciones existentes,</li>
          <li>2. crear nuevas experiencias para nuestros usuarios y</li>
          <li>3. deshacer la incertidumbre que rodea a estas nuevas tecnologías.</li>
        </ul>
      </p>
      <h2 class="text-3xl font-bold">Mis áreas de interes</h2>
      <p>
        Como profesional, mi curiosidad y pasión me llevan a explorar diversas áreas:
        <ul class="space-y-4 ml-4">
          <li><b>• Machine Learning:</b> Me fascina el potencial de las técnicas de aprendizaje automático para transformar la forma en que interactuamos con la tecnología. Desde los tradicionales algoritmos de clasificación y redes neuronales hasta las nuevas corrientes de IA Generativa, que tantas oportunidades nos está dando. Siempre estoy buscando aprender más y aplicar estos conocimientos en proyectos innovadores.</li>
          <li><b>• Desarrollo de Software y Aplicaciones:</b> La programación fue mi puerta de entrada al mundo de la tecnología. Me encanta construir soluciones desde cero, ya sea desarrollando aplicaciones web, móviles, sistemas backend o todo a la vez para una única solución. La creatividad, la resolución de problemas y crear soluciones tangibles son mi motor.</li>
          <li><b>• Análisis de Datos:</b> Los datos son el nuevo petróleo, y yo soy un apasionado geólogo. Explorar conjuntos de datos, extraer conocimientos y tomar decisiones basadas en evidencia es algo que me apasiona. Desde SQL hasta herramientas de visualización, siempre estoy afinando mis habilidades analíticas.</li>
        </ul>
      </p>
      <h2 class="text-3xl font-bold">Mis metas profesionales</h2>
      <p>
        Mi camino profesional está enfocado hacia el crecimiento continuo. Aspiro a:
        <ul class="space-y-4 ml-4">
          <li><b>• Seguir Aprendiendo:</b> Nunca dejar de aprender. Siento, <i>y espero</i>, que esta curiosidad que me suscita todo lo relacionado con la tecnología y la innovación no va cesar. Cursos, conferencias, libros… cualquier fuente de conocimiento es bienvenida.</li>
          <li><b>• Contribuir a la Comunidad:</b> Compartir lo que sé y aprender de otros. La colaboración en el ambito tecnologico es clave para alcanzar metas inimaginables. Realmente creo en el poder y la filosofía del Open Source</li>
          <li><b>• Innovar:</b> Siempre buscar nuevas formas de resolver problemas y crear soluciones disruptivas. Mantenerme al día de lo que ocurre en este mundo y encajar las piezas de formas que no se han encajado antes.</li>
          <li><b>• Crear:</b> Construir soluciones tangibles que tengan un impacto positivo. Desde aplicaciones móviles hasta sistemas de inteligencia artificial, siempre estoy buscando crear soluciones que lleguen a las personas.</li>
        </ul>
      </p>
      <h2 class="text-3xl font-bold">Visita mi blog</h2>
      <p>
        En este blog, compartiré mis experiencias, conocimientos y opiniones sobre temas relacionados con la tecnología, la innovación y el crecimiento profesional.
        ¡Espero que disfrutes de la lectura!
      </p>
      <p>
        ¡Hasta pronto!
      </p>
    </div>
    </div>
</Layout>
