---
import "../styles/global.css";
import { getLangFromUrl } from "../i18n/utils";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="T1b4lt's blog" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="/fontawesome/css/regular.min.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.min.css" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body class="bg-slate-200 dark:bg-zinc-900 text-zinc-900 dark:text-slate-200">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
